body {
    color: white;
    background-color: black;
}

pre {
    font-family: "Fixedsys Excelsior 3.01", monospace;
    font-size: 12px;
}

i {
    color:gray;
}

@font-face {
    font-family: "Fixedsys Excelsior 3.01";
    src: url("/assets/fonts/FSEX300.ttf");
}