body {
    color: white;
    background-color: black;
}

pre {
    font-family: "Fixedsys Excelsior 3.01", monospace;
    font-size: 16px;
    tab-size: 4;
}

em {
    color: gray;
}

a {
    color: white;
}

noscript {
    color: red;
}

@font-face {
    font-family: "Fixedsys Excelsior 3.01";
    src: url("/assets/fonts/FSEX300.ttf");
}